<!DOCTYPE html>
<html lang="en">
  <head>
    {% include("components/meta.html") %}
    <title>{{ metaTitle }}</title>
  </head>
  <body class="{{ bodyClass or 'body' }}">
    {% include("components/header.html") %}

    <div class="container">
      {% block content %}

      <h1 class="page-title">
        {{ title }} {% if highlightedText %}
        <span class="highlight">{{ highlightedText }}</span>
        {% endif %}
      </h1>

      <main role="main">{{ content | safe }}</main>
      {% endblock %}
    </div>

    {% include("components/footer.html") %}
  </body>
</html>
